* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 100vh;
    background-color: #60a7ab;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .container {
    width: 500px;
    height: 250px;
    background-color: #f5f5e9;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

button {
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    background-color: #f26880;
    border-radius: 8px;
    color: white;
}

h1, h2 {
    text-align: center;
    margin-bottom: 15px;
}

h2 {
    font-style: italic;
    height: 80px;
}