* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

#circle {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: crimson;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 16px;
    color: white;
    animation: bubble 5s forwards;
}

@keyframes bubble {
    0% {
        transform: scale(1);
        opacity: 1;
        font-size: 16px;
    }
    100% {
        transform: scale(3);
        opacity: 0;
        font-size: 40px;
    }
}